#  **Assignment Day 1**

### Q1. **Find all country names from data.csv?**

In [1]:
#importing libraries
import numpy as np
import pandas as pd

In [3]:
#get the data using read csv
dataset=pd.read_csv('Data.csv')

In [7]:
#displaying the dataset
print(dataset)

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [16]:
#making a new list of unique country names and printing it
list_country_name=dataset.Country.unique()
print(list_country_name)

['France' 'Spain' 'Germany']

### Q2. **Find maximum age value where country is "Germany" from data.csv?**

In [26]:
#taking the maximun age person from Germany
max_age_german=max(dataset.loc[dataset['Country']=='Germany','Age'])
print(max_age_german)

50.0